asgiref
Django
django-cors-headers
djangorestframework
djangorestframework-simplejwt
gunicorn
joblib
numpy
Pillow
psycopg2-binary
PyJWT
pytz
scikit-learn
scipy
sqlparse
sudo
threadpoolctl
tzdata
whitenoise
sqlparse
tzdata
six
python-dateutil
